<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Database</title>
</head>
<body>
    <h2>You are about to edit : <%=user.username%></h2>

    <form method ="Post" action="/users/<%= user.id%>?_method=PATCH">
        <textarea name="username" id="" cols="30" rows="10"><%=user.username%></textarea>
        <br>
        <input type="password" name="password" placeholder="enter password">
        <button>Submit</button>
    </form>
</body>
</html>