<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW USER</title>
</head>
<body>
    <h2>Enter Your Details</h2>

    <form method ="POST" action="/users/new">
        <input type="text" name="username" id="" placeholder="Enter username">
        <br>
        <br>
        <input type="email" name="email" id="" placeholder="Enter email">
        <br>
        <br>
        <input type="password" name="password" id="" placeholder="Enter password">
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>